/config.mak
/src/include/s6-networking/config.h
*.o
*.lo
/libs6net.a.xyzzy
/libs6net.so.xyzzy
/libsbearssl.a.xyzzy
/libsbearssl.so.xyzzy
/libstls.a.xyzzy
/libstls.so.xyzzy
/libs6tls.a.xyzzy
/minidentd
/s6-clockadd
/s6-clockview
/s6-getservbyname
/s6-ident-client
/s6-sntpclock
/s6-taiclock
/s6-taiclockd
/s6-tcpclient
/s6-tcpserver
/s6-tcpserver-access
/s6-tcpserver4
/s6-tcpserver4-socketbinder
/s6-tcpserver4d
/s6-tcpserver6
/s6-tcpserver6-socketbinder
/s6-tcpserver6d
/s6-tlsc
/s6-tlsclient
/s6-tlsd
/s6-tlsserver
/s6-tlsc-io
/s6-tlsd-io
/s6-ucspitlsc
/s6-ucspitlsd
/src/minidentd/mgetuid.c
